<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thirdapp</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {{ insert_content }}   
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio voluptatem tenetur magni quos laboriosam unde soluta eos reprehenderit ipsa? Atque id non veniam nulla culpa sunt odio dicta qui animi magnam commodi perferendis ab adipisci quibusdam omnis hic, recusandae sed aspernatur. Veniam nobis qui accusamus eum sequi, laborum aut quas? Deleniti, sequi. Ullam dignissimos assumenda eligendi eaque aspernatur, earum, tempora id nobis illo, quibusdam at qui. Ex perferendis, velit consectetur repellendus veritatis eligendi! Repellendus blanditiis assumenda, illum nulla odit sit animi. Numquam cum, blanditiis esse dolorem dignissimos ducimus aliquam perferendis eius voluptates, maxime vero, incidunt libero beatae minima. Necessitatibus, dolor.</p>
    <img src="{% static 'images/shahriar.jpg' %}" alt="Uh Oh, did't show!">
</body>
</html>