<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apptwo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5"> 
        <div class="row ml-auto">
            <div class="jumbotron">
                <h1 class="display-4">Welcome!</h1>
                <hr class="my-4">
                <p class="lead">Go to user sugnup!</p> 
                <!-- django relative url mapping  -->
                <a class="btn btn-primary btn-lg" href="{% url 'apptwo-form' %}" role="button">Signup</a>  
            </div> 
        </div>
    </div>
</body>
</html>