<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django level tow</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    
    <div class="container mt-5">
        {% bootstrap_messages %}
        {{form.errors }}
        <h1>Please fill out the form!</h1>

        <form action="/apptwo/users/" method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <!-- field wize -->
            <!-- <div class="form-group">
                <label for="">
                    {{form.first_name.label_tag }}
                </label>
                {{form.first_name }}
            </div> -->
                

            {% buttons %}
                <button type="submit" class="btn btn-primary"> Submit</button>
            {% endbuttons %}
        </form> 
    </div>

</body>
</html>