<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    {% load bootstrap4 %} 
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %} 
</head>
<body>
    <!-- nabvar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary"> 
        <a class="navbar-brand" href="#">Brand</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'basicapp-index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'basicapp-others' %}">Others</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- nabvar -->

    <div class='container mt-3'>
      {% block content %}
      <!-- Anything outsite of this will be inherited if you extend! -->
      {% endblock %}
    </div>
</body>
</html>